header {
    background: linear-gradient(50deg,#8e64f0 70%, rgb(5, 121, 167) 55%);
    color: white;
    padding: 10px 0px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 80px;
    padding-bottom: 5px;
    font-family: 'Bungee Shade', cursive;
}

h1:hover {
    text-decoration: underline;
}

#nav {
    padding: 10px 10px 10px 10px;
    background: linear-gradient(50deg, rgb(5, 121, 167) 70%,  #8e64f0 55%);
}

input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    transition: width 0.3s ease-in-out;
}

input[type=text]:focus {
    width: 15%;
}

input[type=button] {
    background-color: #D63A3A;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#magnifying-glass {
    padding-left: 5px;
}

#search-button {
    background-color: #D63A3A;
    color: white;
    margin-top: 5px;
}

#search-history {
    width: 10vw;
    display: grid;
    padding-left: 10px;
    /* align-items: center; */
    /* margin-bottom: 5px; */
    grid-template-columns: auto;
    grid-gap: 5px;
    min-height: 10vh;
    align-content: start;
}


#search-results-text {
    padding-left: 17px;
    padding-top: 17px;
    font-weight:bolder;
    
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* min-width: 200; */
    background-image: url(../images/anime-digimon-minimalism-character-wallpaper.jpg);
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

#main-body {
    height: 100%;
    width: 100%;
    display: grid;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    padding-right: 20px;
    grid-template-columns:auto auto auto;
    grid-template-rows:auto auto auto;
    grid-gap: 10px;
    align-self:flex-start;
}

.card-footer-item {
    display:flex;
    justify-content:space-evenly;
}

hr {
height: 2px;
width: 100%;
background: #000;
}


 #search-results-text{
    border-right: 2px solid #000;
    /* width: 15%; */
    /* display: flex;
    flex-direction: row; */

}


